<a href="https://colab.research.google.com/github/Susrinivas/Python-Stats-and-Visualization/blob/main/assignment_08/assignment_08_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Use Pandas to read the file census_costs.txt file**

In [1]:
import pandas as pd

In [2]:
DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"
df = pd.read_csv(DATA_URL, skiprows=1, sep="\t")
df.head(3)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents

**2.Find out how many rows and columns it has**

In [3]:
df.shape

(23, 4)

**3.Display first 10, last 10, and random 10 rows**

In [4]:
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [5]:
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [6]:
df.sample(10)

   Census Year Total Population   Census Cost Average Cost Per Person
21        2000      281,421,906  $4.5 Billion                  $15.99
8         1870       38,558,371    $3,421,198              8.87 cents
17        1960      179,323,175  $127,934,000             71.34 cents
7         1860       31,443,321    $1,969,377              6.26 cents
11        1900       76,303,387   $11,854,000             15.54 cents
18        1970      203,302,031  $247,653,000                   $1.22
22       2010*      308,745,538   $13 Billion                  $42.11
4         1830       12,866,020      $378,545              2.94 cents
5         1840       17,069,458      $833,371              4.88 cents
2         1810        7,239,881      $178,445              2.46 cents

**4.Find out the data types of all columns - use info() function**

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

**5.Find out the summary statistics of all columns**

In [8]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

**6.Cleanse the data to make the year, population, cost, cost per person numerical type**

In [9]:
def cleanse_year(a_string):
    return int(a_string.replace("*",""))

In [10]:
df["Census Year"] = df["Census Year"].apply(cleanse_year)

df.tail()

    Census Year Total Population     Census Cost Average Cost Per Person
18         1970      203,302,031    $247,653,000                   $1.22
19         1980      226,542,199  $1,078,488,000                   $4.76
20         1990      248,718,301  $2,492,830,000                  $10.02
21         2000      281,421,906    $4.5 Billion                  $15.99
22         2010      308,745,538     $13 Billion                  $42.11

In [11]:
def cleanse_pop(a_string):
    return int(a_string.replace(",",""))

In [12]:
df["Total Population"] = df["Total Population"].apply(cleanse_pop)

df.head()

   Census Year  Total Population Census Cost Average Cost Per Person
0         1790           3929214     $44,377              1.13 cents
1         1800           5308483     $66,109              1.24 cents
2         1810           7239881    $178,445              2.46 cents
3         1820           9633822    $208,526              2.16 cents
4         1830          12866020    $378,545              2.94 cents

In [13]:
def cleanse_cost(a_string):
    cost1=a_string.replace("$","")
    cost2=cost1.replace(",","")
    a_string=int(float(cost2.replace(" Billion",""))*1000000000)
    return int(a_string)

In [14]:
df["Census Cost"] = df["Census Cost"].apply(cleanse_cost)

df.head()

   Census Year  Total Population      Census Cost Average Cost Per Person
0         1790           3929214   44377000000000              1.13 cents
1         1800           5308483   66109000000000              1.24 cents
2         1810           7239881  178445000000000              2.46 cents
3         1820           9633822  208526000000000              2.16 cents
4         1830          12866020  378545000000000              2.94 cents

In [15]:
def cleanse_avg_cost(avg_cost):
    avg_cost1=avg_cost.replace("$","")
    avg_cost2=avg_cost1.replace("\n","")
    if "cents" in avg_cost2:
         avg_cost3=float(avg_cost2.replace(" cents",""))/100
    else:
         avg_cost3=float(avg_cost2)
    r = round(avg_cost3, 5)
    return (r)

In [16]:
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_avg_cost)

df.head()

   Census Year  Total Population      Census Cost  Average Cost Per Person
0         1790           3929214   44377000000000                   0.0113
1         1800           5308483   66109000000000                   0.0124
2         1810           7239881  178445000000000                   0.0246
3         1820           9633822  208526000000000                   0.0216
4         1830          12866020  378545000000000                   0.0294

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 864.0 bytes

**7.Find out the summary statistics of the numerical columns - use describe() function**

In [18]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  1.836891e+17                 3.368739
std        67.8233      9.622629e+07  5.516392e+17                 9.278241
min      1790.0000      3.929214e+06  4.500000e+09                 0.011300
25%      1845.0000      2.013067e+07  2.935355e+14                 0.055100
50%      1900.0000      7.630339e+07  5.790678e+15                 0.170700
75%      1955.0000      1.653245e+08  5.384150e+16                 0.658900
max      2010.0000      3.087455e+08  2.492830e+18                42.110000

**8.Use Plotly to plot the average cost per person over time.**

In [19]:
import plotly.express as px

In [20]:
fig = px.line(
    df,
    x="Census Year",
    y="Average Cost Per Person", 
    title="the average cost per person over time.",  
    template="plotly_dark"
)

fig.update_layout(showlegend=True)

fig.show()

**9.Use Plotly to plot the scatter plot of Total Population vs Total Cost.**

In [21]:
fig = px.scatter(
    df,
    x="Total Population",
    y="Census Cost", 
    title="the scatter plot of Total Population vs Total Cost",  
    template="plotly_dark"
)

fig.update_layout(showlegend=False)

fig.show()